.header__container {
  min-height: 3rem;
  width: 100%;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__title {
  min-height: 3rem;
  width: 9rem;
}

.nav__hamburger {
  min-height: 3rem;
  width: 3rem;
  cursor: pointer;
}

/* wraps the menu and the closer together to show/hide them together */
.nav__inner-wrapper {
  min-height: 3rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 3rem;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 3rem);
}

.nav__menu {
  min-height: 3rem;
  width: 100%;
  flex: 0 1 auto;
  cursor: pointer;
}

.nav__closer {
  min-height: 3rem;
  width: 100%;
  flex: 1 1 auto;
  cursor: pointer;
}

/* second lvl stuff */
.menu__item {
  min-height: 3rem;
  width: 100%;
}

/* CAUTION : this mf#*? must be put here or else problems arise, proceed carefully! */
/* TODO : Found a solution to use JS so that I care less about the cascade : I'll implement it later  */
.hidden {
  display: none;
}

@media (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }

  .nav__inner-wrapper {
    all: unset;
  }

  .nav__menu {
    display: flex;
    gap: 2rem;
  }

  .nav__closer {
    display: none;
  }
}
