html {
  background-color: black;
  color: white;

  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}
